<?php
return array(
    'development' => true,
    'dns' => 'starlessskynetworkserver.test',
    'crypto_key' => '',
    'blockchain_close_key' => '',
    'information' => [
        'allow_message_edit' => true,
        'allow_message_deletion' => true,
        'multicast_max_receivers' => 50,
        'message_max_size' => '2M',
        'sign_message_max_size' => '256K',
        'sign_max_expiration' => 3600,
        'block_size' => 50
    ]
);
