<?php
return array(
    'development' => true,
    'crypto' => [
        'base_hmac_key' => "",
        'base_symetric_key' => "",
        'base_symetric_iv_seed' => "",
        'private_key_server_id' => "",
        'skyid_instance' => 1000
    ],
    'information' => [
        'allow_not_identified_senders' => false,
        'allow_message_edit' => true,
        'allow_message_deletion' => true,
        'message_max_size' => '2M',
        'sign_message_max_size' => '256K',
        'sign_max_expiration' => 3600
    ]
);
